@mixin disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  @include disFlex;
  z-index: 1;
  justify-content: space-evenly;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  h4 {
    &:hover {
      color: skyblue;
      cursor: pointer;
    }
  }
}
