.mainContainer {
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.871);

  .techSkills {
    margin: 0 auto;
    width: 95%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .titleArea {
      border-bottom: 4px solid skyblue;
      width: 100%;
    }

    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .iconArea {
          padding: 1rem;
          margin: 0.5rem;
          height: 90px;
          width: 100px;
          position: relative;
          margin-top: 1rem;
        }
      }
    }
  }
  .softSkills {
    margin: 0 auto;
    width: 95%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .titleArea {
      padding-top: 2rem;
      border-bottom: 4px solid skyblue;
      width: 100%;
      margin-bottom: 1rem;
    }
    .barArea {
      padding: 1rem;
    }
  }
}
