@mixin disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash {
  @include disFlex;
  height: 100vh;
  width: 100%;
  background-image: url("../../public/sky.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .info {
    @include disFlex;
    background-color: rgba($color: #000000, $alpha: 0.8);
    max-width: 40%;
    min-width: 500px;
    height: auto;
    text-align: center;
    padding: 4rem;
    flex-direction: column;

    h3 {
      color: white;
    }

    .extLinks {
      @include disFlex;
      justify-content: space-evenly;
      width: 200px;
      .icon {
        color: white;
        background-color: white;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
