@mixin disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutMeSec {
  @include disFlex;
  flex-direction: column;
  width: auto;
  overflow: hidden;
  position: relative;
  .textArea {
    @include disFlex;
    width: 75%;
    margin-top: 20px;
    z-index: 1;
    .picContainer {
      height: 150px;
      width: 160px;
      position: relative;
      border: 2px solid skyblue;
      border-radius: 50%;
      margin-top: 1rem;
      .pic {
        border-radius: 50%;
      }
    }
    .aboutMe {
      @include disFlex;
      border-bottom: 1px solid gray;
      width: 100%;

      h3 {
        margin: 0;
        padding: 0;
      }
      p {
        max-width: 75%;
        font-size: 1.4rem;
        text-align: center;
      }
    }
    .contactMe {
      @include disFlex;
      width: 100%;
      border-bottom: 1px solid gray;
      h3 {
        margin: 0;
        padding: 0;
      }
      li {
        font-size: 1.4rem;
      }
    }
    .cv {
      @include disFlex;
      width: 50%;
      padding: 1rem;

      .download {
        @include disFlex;
        flex-direction: row;
        background-color: rgb(128, 128, 128, 0.1);
        padding: 0.5rem;
        margin-bottom: 4rem;
        &:hover {
          background-color: gray;
          cursor: pointer;
        }
        a {
          all: unset;
        }
        .downloadIcon {
          margin: 0 0.5rem 0 0;
        }
        label {
          cursor: pointer;
        }
      }
    }
  }
}
