@mixin disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutMeSec {
  @include disFlex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  background-image: url("../../public/desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .textArea {
    @include disFlex;
    width: 75%;
    .picContainer {
      height: 150px;
      width: 160px;
      position: relative;
      border: 2px solid skyblue;
      border-radius: 50%;
      margin-bottom: 1rem;
      .pic {
        border-radius: 50%;
      }
    }
    .aboutMe {
      @include disFlex;
      border-bottom: 1px solid gray;
      h3 {
        margin: 0;
        padding: 0;
      }
      p {
        max-width: 70%;
        font-size: 1.1rem;
      }
    }
  }
}
