@mixin disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  @include disFlex;
  height: 100%;
  width: 100%;
  position: fixed;
  padding-top: 104px;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(8px);
  .subContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: skyblue;
    width: 85%;
    border-radius: 5px;
    .para {
      width: 80%;
      padding-left: 2rem;
      text-align: center;
      p {
        text-align: center;
      }
    }
    .projectCard {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 75%;
      height: 300px;
      margin: 1rem;
      background-color: skyblue;
      border-radius: 10px;
      @media (width<700px) {
        width: 100%;
      }
      .textAndLinkArea {
        height: 300px;
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        .btn {
          a {
            all: unset;
          }
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          button {
            cursor: pointer;
            border: none;
            border-radius: 5px;
            width: 80px;
            &:hover {
              background-color: rgba(112, 109, 109, 0.871);
            }
          }
        }
        .stack {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-items: center;
          p {
            margin: 1rem;
          }
        }
      }
      .picArea {
        height: 300px;
        width: 250px;
        position: relative;
        .screenShot {
          width: 100%;
          border-radius: 5px;
        }
      }
    }
  }
}
