.mainContainer {
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.871);
  .subContainer {
    margin: 0 auto;
    width: 95%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .title {
      border-bottom: 4px solid rgb(135, 206, 235);
      width: 100%;
    }
    .projectsArea {
      width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .projectCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        height: 300px;
        margin: 1rem;
        background-color: skyblue;
        .textAndLinkArea {
          height: 300px;
          width: 250px;
        }
        .picArea {
          height: 300px;
          width: 250px;
          position: relative;
          .screenShot {
            width: 100%;
          }
        }
      }
    }
  }
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
